<div id="elem1">
    <div class="row">
        <div class="col s12 m12">
            <div class="card atlassian">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s2" style="padding-left:0px;">
                            <div class="card-image">
                                <img src="images/profile_default.png">
                            </div>
                        </div>
                        <div class="col s4">
                            <span class="card-title orange-text" id="profile-name" style="display:inline-block;">Loading...</span>
                            <p>Current Balance</p>
                            <h3 id="current-balance">Loading...</h3>
                        </div>

                        <div class="col s6">
                            <h5>Bio</h5>
                            <p id="display-bio">No bio yet</p>
                            <br>
                            <a class="waves-effect waves-light btn modal-trigger" href="#edit-bio">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit bio popup -->
    <div id="edit-bio" class="modal modal-bio atlassian left-align white-text">
        <div class="modal-content container">

            <div class="row">
                <h4 class="orange-text" style="display:inline-block;">Edit Personal Bio</h4>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="new-bio-text" class="materialize-textarea" placeholder="No bio yet." maxlength="1000"></textarea>
                </div>
            </div>

            <div class="row">
                <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
                <a id="update-bio" href="#!" class="modal-action modal-close waves-effect waves-green green btn" onclick="Materialize.toast('Bio updated', 1250)">Update Bio</a>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s4"><a href="#history">History</a></li>
                        <li class="tab col s4"><a class="active" href="#open_trades">Open Trades</a></li>
                        <li class="tab col s4"><a href="#watch_list"> Watch List</a></li>
                        <!-- <li class="tab col s6"><a href="#graphs">Graphs</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- watch list tab -->
    <div id="watch_list" class="row">
        <div class="col s12 align-center">
            <table class="striped">
                <thead>
                    <th>Name</th>
                    <th>Current</th>
                    <!-- <th>Change</th>
                    <th>High</th>
                    <th>Low</th> -->
                </thead>
                <tbody>
                    <tr v-for="item in watchList">
                        <td class="stock-name"><a v-bind:href="get_url(item)">\{{item.companyName}}</a></td>
                        <td class="stock-current">\{{item.companyCode}}</td>
                        <td class="stock-change change-negative">-0.02%</td>
                        <td class="stock-high">$153.27</td>
                        <td class="stock-low">$105.90</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- open trades tab -->
    <div id="open_trades" class="row">
        <div class="col s12 align-center">
            <table class="striped">
                <thead>
                    <th>Name</th>
                    <th>Units</th>
                    <th>Invested</th>
                    <th>P/L($)</th>
                    <th>P/L(%)</th>
                    <th>Value</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    <tr v-for="item in purchaseList">
                        <td class="stock-name"><a v-bind:href="get_url(item)">\{{item.companyName}}</a></td>
                        <td>\{{item.num_units.toFixed(2)}}</td>
                        <td>$\{{item.trade_amount.toFixed(2)}}</td>
                        <td>$\{{item.profit_loss_dollars.toFixed(2)}}</td>
                        <td>\{{item.profit_loss_percent.toFixed(2)}}%</td>
                        <td>\{{item.value.toFixed(2)}}</td>
                        <td>\{{item.type.charAt(0).toUpperCase() + item.type.substring(1)}}</td>
                        <td><a class="waves-effect waves-light btn" @click=closeTrade(item)>Close</a> </td>
                        <!--  href="#close-trade" -->
                        <!-- <td href="#edit-bio"><a><i class="red-text material-icons">close</i></a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- history tab -->
    <div id="history" class="row">
        <div class="col s12 align-center">
            <table class="striped">
                <thead>
                    <th>Name</th>
                    <th>Code</th>
                </thead>
                <tbody>
                    <tr v-for="item in historyList">
                        <td class="stock-name"><a v-bind:href="get_url(item)">\{{item.companyName}}</a></td>
                        <td class="stock-current">\{{item.companyCode}}</td>
                        <td class="stock-change change-negative">-0.02%</td>
                        <td class="stock-high">$153.27</td>
                        <td class="stock-low">$105.90</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- watch list tab -->
    <div id="watch_list" class="row">
        <div class="col s12 align-center">
            <table class="striped">
                <thead>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr v-for="item in watchList">
                        <td class="stock-name"><a>\{{item.companyName}}</a></td>
                        <td>\{{item.companyCode}}</td>
                        <td>\{{item.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div id="graphs" class="row">
    <div class="col s6 offset-s3">
    <ul class="tabs" id="graph-tabs">
    <li class="tab col s4"><a class="active" href="#graph1">Intraday</a></li>
    <li class="tab col s4"><a href="#graph2">Candlestick</a></li>
    <li class="tab col s4"><a href="#graph3">Drawable</a></li>
</ul>
</div>

<div id="graph1" class="col s12">
<div class="center-align" id="graph1Loader" style="margin-top:50px;">
<div class="preloader-wrapper active">
<div class="spinner-layer spinner">
<div class="circle-clipper left">
<div class="circle"></div>
</div><div class="gap-patch">
<div class="circle"></div>
</div><div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
</div>
</div>

<div id="chartdiv1" style="width:97%; height:400px; margin-top:30px;"></div>
</div>
<div id="graph2" class="col s12">

<div class="center-align" id="graph2Loader" style="margin-top:50px;">
<div class="preloader-wrapper active">
<div class="spinner-layer spinner">
<div class="circle-clipper left">
<div class="circle"></div>
</div><div class="gap-patch">
<div class="circle"></div>
</div><div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
</div>
</div>

<div id="chartdiv2" style="width:97%; height:400px;"></div>
</div>
<div id="graph3" class="col s12">

<div class="center-align" id="graph3Loader" style="margin-top:50px;">
<div class="preloader-wrapper active">
<div class="spinner-layer spinner">
<div class="circle-clipper left">
<div class="circle"></div>
</div><div class="gap-patch">
<div class="circle"></div>
</div><div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
</div>
</div>

<div id="chartdiv3" style="width:97%; height:400px;"></div>
</div>
</div> -->
</div>
