<div id="elem1">
    <div class="row">
        <div class="col s12 m12">
            <div class="card atlassian">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s2" style="padding-left:0px;">
                          <div class="file-field">
                            <div class="card-image">
                              <img id="profile-image" src="" alt="">
                            </div>
                            <button onclick="$('#img-upload').click();" id="change-profile" type="file"
                            class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add_a_photo</i></button>
                            <form id="upload-img-form" method="POST" action="upload_image" enctype="multipart/form-data">
                              <input id="img-upload" name="uploadfile" type="file" accept="image/png" style="visibility:hidden" onchange="document.getElementById('upload-img-form').submit();">
                            </form>
                          </div>
                        </div>
                        <div class="col s4">
                            <span class="card-title orange-text" id="profile-name" style="display:inline-block;">Loading...</span>
                            <p>Current Balance</p>
                            <h3 id="current-balance">$\{{balance.toFixed(2)}}</h3>
                        </div>
                        <div class="col s6">
                            <h5>Bio</h5>
                            <p id="display-bio">No bio yet</p>
                            <br>
                            <a class="waves-effect waves-light btn modal-trigger" href="#edit-bio">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit bio popup -->
    <div id="edit-bio" class="modal modal-bio atlassian left-align white-text">
        <div class="modal-content container">

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="new-bio-text" class="materialize-textarea" placeholder="No bio yet." maxlength="1000"></textarea>
                </div>
            </div>

            <div class="row">
                <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
                <a id="update-bio" href="#!" class="modal-action modal-close waves-effect waves-green green btn">Update Bio</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s4"><a href="#history">History</a></li>
                        <li class="tab col s4"><a class="active" href="#open_trades">Open Trades</a></li>
                        <li class="tab col s4"><a href="#watch_list"> Watch List</a></li>
                        <!-- <li class="tab col s6"><a href="#graphs">Graphs</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- watch list tab -->
    <div id="watch_list" class="row">
        <div class="col s12 align-center">
            <div v-if="watchList.length > 0">
                <table class="striped">
                    <thead>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Current Price</th>
                    </thead>
                    <tbody>
                        <tr v-for="item in watchList">
                            <td class="stock-name"><a v-bind:href="get_url(item)">\{{item.companyName}}</a></td>
                            <td class="stock-current">\{{item.companyCode}}</td>
                            <td class="stock-change change">\{{item.value}}</td>
                            <td><a class="waves-effect waves-light btn  red darken-2" @click=removeFromWatchList(item)>Remove</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <h6 style="text-align: center" class="stock-name">
                   Your watch list is empty
                </h6>
            </div>
        </div>
    </div>

    <!-- open trades tab -->
    <div id="open_trades" class="row">
        <div class="col s12 align-center">
            <div v-if="purchaseList.length > 0">
                <table class="striped">
                    <thead>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Invested</th>
                        <th>P/L($)</th>
                        <th>P/L(%)</th>
                        <th>Value</th>
                        <th>Type</th>
                    </thead>
                    <tbody>
                        <tr v-for="item in purchaseList">
                            <td class="stock-name"><a v-bind:href="get_url(item)">\{{item.companyName}}</a></td>
                            <td>\{{item.num_units.toFixed(2)}}</td>
                            <td>$\{{item.trade_amount.toFixed(2)}}</td>

                            <td v-if="item.profit_loss_dollars > 0" class="green-text">$\{{item.profit_loss_dollars.toFixed(2)}}</td>
                            <td v-else-if="item.profit_loss_dollars == 0">$\{{item.profit_loss_dollars.toFixed(2)}}</td>
                            <td v-else class="red-text">$\{{item.profit_loss_dollars.toFixed(2)}}</td>

                            <td v-if="item.profit_loss_percent > 0" class="green-text">\{{item.profit_loss_percent.toFixed(2)}}%</td>
                            <td v-else-if="item.profit_loss_percent == 0">\{{item.profit_loss_percent.toFixed(2)}}%</td>
                            <td v-else class="red-text">\{{item.profit_loss_percent.toFixed(2)}}%</td>

                            <td>\{{item.value.toFixed(2)}}</td>

                            <td>\{{item.type.charAt(0).toUpperCase() + item.type.substring(1)}}</td>
                            <td><a class="waves-effect waves-light btn  red darken-2" @click=closeTrade(item)>Close</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <h6 style="text-align: center" class="stock-name">
                    You haven't made any trades, get going
                </h6>
            </div>
        </div>
    </div>

    <!-- history tab -->
    <div id="history" class="row">
        <div class="col s12 align-center">
            <div v-if="historyList.length > 0">
                <table class="striped">
                    <thead>

                        <th>Name</th>
                        <th>Code</th>
                        <th>Units</th>
                        <th>Invested</th>
                        <th>P/L($)</th>
                        <th>P/L(%)</th>
                        <th>Value</th>
                        <th>Type</th>
                        <th>date</th>

                    </thead>
                    <tbody>
                        <tr v-for="item in historyList">

                            <td class="stock-name"><a v-bind:href="get_url(item)">\{{item.companyName}}</a></td>
                            <td class="stock-current">\{{item.companyCode}}</td>
                            <td>\{{item.num_units.toFixed(2)}}</td>
                            <td>$\{{item.trade_amount.toFixed(2)}}</td>

                            <td v-if="item.profit_loss_dollars > 0" class="green-text">$\{{item.profit_loss_dollars.toFixed(2)}}</td>
                            <td v-else-if="item.profit_loss_dollars == 0">$\{{item.profit_loss_dollars.toFixed(2)}}</td>
                            <td v-else class="red-text">$\{{item.profit_loss_dollars.toFixed(2)}}</td>

                            <td v-if="item.profit_loss_percent > 0" class="green-text">\{{item.profit_loss_percent.toFixed(2)}}%</td>
                            <td v-else-if="item.profit_loss_percent == 0">\{{item.profit_loss_percent.toFixed(2)}}%</td>
                            <td v-else class="red-text">\{{item.profit_loss_percent.toFixed(2)}}%</td>

                            <td>\{{item.value.toFixed(2)}}</td>

                            <td>\{{item.type.charAt(0).toUpperCase() + item.type.substring(1)}}</td>
                            <td class="stock-current">\{{item.date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <h6 style="text-align: center" class="stock-name">
                    Your history list is empty
                </h6>
            </div>
        </div>
    </div>


</div>
