<div id="elem1">
    <div class="row">
        <div class="col s12 m12">
            <div class="card atlassian">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s8" style="padding-left:0px;">
                            <span class="card-title orange-text" id="company-name" style="display:inline-block;">{{stock}} | <span>{{company}}</span></span>
                        </div>

                        <div class="col s4" align="right">
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal1" @click="long = true">Long</a>
                            <a class="waves-effect waves-light btn modal-trigger orange" href="#modal1" @click="long = false">Short</a>
                            <a class="waves-effect waves-light btn green"  @click="addToWatchList" >Watch</a>
                        </div>
                    </div>

                    <h3><span class="company-price">\{{share_price}}</span>
                        <small v-if="share_percent_change > 0" class="green-text">\{{share_percent_change.toFixed(2)}}%</small>
                        <small v-else-if="share_percent_change == 0">\{{share_percent_change.toFixed(2)}}%</small>
                        <small v-else class="red-text">\{{share_percent_change.toFixed(2)}}%</small>
                    </h3>

                    <div class="row">
                        <div class="col s9" style="padding-left:0px;">
                            <p id="company-overview"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s4"><a href="#graphs">Graphs</a></li>
                        <li class="tab col s4"><a class="active" href="#news">News</a></li>
                        <li class="tab col s4"><a href="#info">Company Information</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- news tab -->
    <div id="news" class="row">
      <div class="col s12">
        <ul id="news-articles-list" class="collection atlassian-text" style="border:1px solid rgba(44, 62, 80, 0.52)">
        </ul>
      </div>
    </div>

    <!-- company info tab -->
    <div id="info" class="row">
      <div class="row">
        <div class="col s3">
          <!-- <h4 class="finance-text">At A Glance</h4> -->
          <br>
          <div class="input-field">
            <i class="medium material-icons prefix">settings</i>
            <input onfocus="this.blur();" tabindex="-1" value="Unknown" id="industry" type="text" class="tooltipped disabled-input" data-position="bottom" data-delay="50" data-tooltip="Unknown">
            <label for="industry">Industry</label>
          </div>
          <br>
          <div class="input-field">
            <i class="medium material-icons prefix">history</i>
            <input onfocus="this.blur();" tabindex="-1" value="Unknown" id="founded" type="text" class="tooltipped disabled-input" data-position="bottom" data-delay="50" data-tooltip="Unknown">
            <label for="founded">Founded</label>
          </div>
          <br>
          <div class="input-field">
            <i class="medium material-icons prefix">location_city</i>
            <input onfocus="this.blur();" tabindex="-1" value="Unknown" id="headquarters" type="text" class="tooltipped disabled-input" data-position="bottom" data-delay="50" data-tooltip="Unknown">
            <label for="headquarters">Headquarters</label>
          </div>
          <br>
          <div class="input-field">
            <i class="medium material-icons prefix">person_outline</i>
            <input onfocus="this.blur();" tabindex="-1" value="Unknown" id="ceo" type="text" class="tooltipped disabled-input" data-position="bottom" data-delay="50" data-tooltip="Unknown">
            <label id="ceo-label" for="ceo">CEO</label>
          </div>
          <br>
          <div class="input-field">
            <i class="medium material-icons prefix">people_outline</i>
            <input onfocus="this.blur();" tabindex="-1" value="Unknown" id="employees" type="text" class="tooltipped disabled-input" data-position="bottom" data-delay="50" data-tooltip="Unknown">
            <label for="employees">Number of Employees</label>
          </div>
        </div>
        <div class="col s8" style="margin-left: 2.5em;">
          <h4>Overview</h4>
            <p id="company-summary">Summary of {{ company }}</p>
            <h4 id="finances-year">Finances</h4>
				<table class="striped finances-table">
				  <tbody>
				    <tr>
				      <td><div class="finances-text">Revenue</div></td>
				      <td id="revenue">Unknown</td>
				    </tr>
				    <tr>
				      <td><div class="finances-text">Operating Income</div></td>
				      <td id="operating-income">Unknown</td>
				    </tr>
				    <tr>
				      <td><div class="finances-text">Net Income</div></td>
				      <td id="net-income">Unknown</td>
				    </tr>
				    <tr>
				      <td><div class="finances-text">Total Assets</div></td>
				      <td id="total-assets">Unknown</td>
				    </tr>
				    <tr>
				      <td><div class="finances-text">Total Equity</div></td>
				      <td id="total-equity">Unknown</td>
				    </tr>
				  </tbody>
            </table>
        </div>
      </div>
    </div>

<div id="graphs" class="row">
    <div class="col s8 offset-s2">
        <ul class="tabs" id="graph-tabs">
            <li class="tab col s3"><a class="active" href="#graph1">Intraday</a></li>
            <li class="tab col s3"><a href="#graph2">Candlestick</a></li>
            <li class="tab col s3"><a href="#graph3">Events</a></li>
            <li class="tab col s3"><a href="#graph4">Compare</a></li>
        </ul>
    </div>

    <!-- graph tabs -->
    <div id="graph1" class="col s12">
        <transition name="fade">
            <div v-show="showSpinner0" class="center-align" id="graph0Loader" style="margin-top:50px;">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div id="chartdiv1" style="width:97%; height:400px; margin-top:30px;"></div>
        </transition>
    </div>
    <div id="graph2" class="col s12">
        <transition name="fade">
            <div v-show="showSpinner1" class="center-align" id="graph1Loader" style="margin-top:50px;">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div id="chartdiv2" style="width:97%; height:400px;"></div>
        </transition>
    </div>
    <div id="graph3" class="col s12">
        <transition name="fade">
            <div v-show="showSpinner2" class="center-align" id="graph2Loader" style="margin-top:50px;">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div id="chartdiv3" style="width:97%; height:400px;"></div>
        </transition>
    </div>
    <div id="graph4" class="col s12">
        <div class="row">
            <div class="input-field col s4 offset-s4">
                <input type="text" class="autocomplete autocomplete2" placeholder="Search Stock" style="text-align:center">
            </div>
        </div>
        <div class="row">
            <transition name="fade">
                <div v-show="showSpinner3" class="center-align" id="graph3Loader" style="margin-top:50px;">
                    <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
        <transition name="fade">
            <div v-show="showG4" id="chartdiv4" style="width:97%; height:400px;"></div>
        </transition>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal atlassian center-align white-text">
    <div class="modal-content container">
        <div class="row row-no-bot-margin">
            <h4 class=" orange-text" style="display:inline-block;">\{{stock_symbol}} | <span> \{{company_name}}</span></h4>
            <h3><span class="company-price">\{{share_price}}</span>
                <small v-if="share_percent_change > 0" class="green-text">\{{share_percent_change.toFixed(2)}}%</small>
                <small v-else-if="share_percent_change == 0">\{{share_percent_change.toFixed(2)}}%</small>
                <small v-else class="red-text">\{{share_percent_change.toFixed(2)}}%</small>
            </h3>
        </div>
        <div class="row center-align row-no-bot-margin" >
            <div class="col s2">
              <table>
                <tbody>
                  <tr>
                    <td class="td-no-padding right-align">
                      <a href="#"  @click="tryIncreaseAmount" style="color:white;"><i class="small material-icons">add</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="td-no-padding right-align">
                      <a href="#" @click="amount--" style="color:white;"><i class="small material-icons">remove</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col s8">
                <input type="number" v-model.number="amount" style="font-size: 40px; text-align:center;">
            </div>
            <div class="col s2">
              <form action="#">
                <table>
                  <tbody>
                  <tr>
                    <td class="td-no-padding">
                      <input v-if="!dollars" name="units-dollars-group" type="radio" id="units-active-radio" checked />
                      <input v-else name="units-dollars-group" type="radio" id="units-active-radio" @click="toggleMessage" />
                      <label for="units-active-radio">
                        <span v-if="!dollars" class="radio-label-active"><b>units</b></span>
                        <span v-else><a href="#!" @click="toggleMessage" class="radio-label-default">units</a></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td class="td-no-padding">
                      <input v-if="dollars" name="units-dollars-group" type="radio" id="dollars-active-radio" />
                      <input v-else name="units-dollars-group" type="radio" id="dollars-active-radio" @click="toggleMessage"/>
                      <label for="dollars-active-radio">
                        <span v-if="dollars" class="radio-label-active"><b>dollars</b></span>
                        <span v-else><a href="#!" @click="toggleMessage" class="radio-label-default">dollars</a></span>
                      </label>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </form>
            </div>
        </div>
        <div class="row row-no-bot-margin" id="price-calculation">
          <h5 v-if="dollars">$\{{amount}} / \{{share_price}} = \{{calculatedCost.toFixed(2)}} share(s)</h5>
          <h5 v-else=>\{{amount}} units × $\{{share_price}} = $\{{calculatedCost.toFixed(2)}}</h5>
          <hr>
        </div>

        <div class="row balance-change">
          <div class="col s8 offset-s2">
            <table>
              <tbody>
              <tr>
                <td class="td-reduced-v-padding">Current balance</td>
                <td class="green-text td-reduced-v-padding">$\{{balance}}</td>
              </tr>
              <tr>
                <td class="td-reduced-v-padding">Balance after transaction</td>
                <td class="red-text td-reduced-v-padding">$\{{balanceAfterTransaction.toFixed(2)}}</td>
              </tr>
              <tr v-if="errorMessage">
                <td class="red-text td-reduced-v-padding">\{{errorMessage}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
            <a href="#!" class="modal-action modal-close waves-effect waves-red red btn">Cancel</a>
            <a href="#!" id="confirm-buy" class="modal-action modal-close waves-effect waves-green green btn" @click="buyStock">Confirm</a>
        </div>
    </div>
</div>

<!-- expanded news articles -->
<div id="news-1" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-1-title">Loading...</h4>
            <p id="news-article-1-date">Unknown</p>
        </div>
        <div class="row" id="news-article-1-body">
        </div>
    </div>
</div>
<div id="news-2" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-2-title">Loading...</h4>
            <p id="news-article-2-date">Unknown</p>
        </div>
        <div class="row" id="news-article-2-body">
        </div>
    </div>
</div>
<div id="news-3" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-3-title">Loading...</h4>
            <p id="news-article-3-date">Unknown</p>
        </div>
        <div class="row" id="news-article-3-body">
        </div>
    </div>
</div>
<div id="news-4" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-4-title">Loading...</h4>
            <p id="news-article-4-date">Unknown</p>
        </div>
        <div class="row" id="news-article-4-body">
        </div>
    </div>
</div>
<div id="news-5" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-5-title">Loading...</h4>
            <p id="news-article-5-date">Unknown</p>
        </div>
        <div class="row" id="news-article-5-body">
        </div>
    </div>
</div>
<div id="news-6" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-6-title">Loading...</h4>
            <p id="news-article-6-date">Unknown</p>
        </div>
        <div class="row" id="news-article-6-body">
        </div>
    </div>
</div>
<div id="news-7" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-7-title">Loading...</h4>
            <p id="news-article-7-date">Unknown</p>
        </div>
        <div class="row" id="news-article-7-body">
        </div>
    </div>
</div>
<div id="news-8" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-8-title">Loading...</h4>
            <p id="news-article-8-date">Unknown</p>
        </div>
        <div class="row" id="news-article-8-body">
        </div>
    </div>
</div>
<div id="news-9" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-9-title">Loading...</h4>
            <p id="news-article-9-date">Unknown</p>
        </div>
        <div class="row" id="news-article-9-body">
        </div>
    </div>
</div>
<div id="news-10" class="modal atlassian left-align white-text">
    <div class="modal-content container">
        <div class="row">
            <h4 id="news-article-10-title">Loading...</h4>
            <p id="news-article-10-date">Unknown</p>
        </div>
        <div class="row" id="news-article-10-body">
        </div>
    </div>
</div>
</div>
